* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#43cea2, #185a9d);
  color: white;
  font-family: sans-serif;
}

.location, .temperature{
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin-left: 10px;
  font-size: 30px;
}

.degree-section h1 {
  font-size: 50px;
}

.description {
  font-size: 25px;
}